<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- PRELOADER -->
<img id="preloader" src="./../assets/images/preloader.gif" alt="" />
<!-- //PRELOADER -->
<div class="preloader_hide">

	<!-- PAGE -->
	<div id="page">
	
		<!-- HEADER -->
		<header>
			
			<!-- MENU BLOCK -->
			<div class="menu_block">
			
				<!-- CONTAINER -->
				<div class="container clearfix">
					
					<!-- LOGO -->
					<div class="logo pull-left">
						<a href="#" ><span class="b1">X</span><span class="b2">3</span><span class="b3">X</span><span class="b4">C</span><span class="b5">O</span><span class="b5">D</span>
							<span class="b5">E</span></a>
					</div><!-- //LOGO -->
					<!-- MENU -->
					<div class="pull-right">

						<div class="navigation">
							<ul>
							<li class="list active"> <a href="#home">
								<span class="icon"> <i class="bi bi-house"></i></span>
								<span class="text">Home</span></a></li>	
							<li class="list"><a href="#about">
								<span class="icon"><i class="bi bi-airplane-engines"></i> </span>
								<span class="text"> Nosotros</span> </a></li>
							<li class="list"><a href="#projects">
								<span class="icon"> <i class="bi bi-alipay"></i></span>
								<span class="text">Projectos </span></a></li>
							<li class="list"><a href="#contacts">
								<span class="icon"> <i class="bi bi-telephone-forward"></i></span>
								<span class="text">Contacto</span> </a></li>
							<div class="indicator"></div>
						</ul>
						</div>
					</div><!-- //MENU -->
				</div><!-- //MENU BLOCK -->
			</div><!-- //CONTAINER -->
		</header><!-- //HEADER -->
		
		
		<!-- HOME -->
		<section id="home" class="padbot0">
				
			<!-- TOP SLIDER -->
			<div class="flexslider top_slider">
				<ul class="slides">
					<li class="slide1">
						<div class="flex_caption1">
							<p class="title1 captionDelay2 FromTop">Creativo</p>
							<p class="title2 captionDelay4 FromTop">Proceso</p>
							<p class="title3 captionDelay6 FromTop">.</p>
							<p class="title4 captionDelay7 FromBottom">La plantilla es adecuada para cualquier empresa y dirección que valore el estilo, la pureza y la calidad del sitio web.</p>
						</div>
					
					<li class="slide2">
						<div class="flex_caption1">
							<p class="title1 captionDelay6 FromLeft">Diseño</p>
							<p class="title2 captionDelay4 FromLeft">Responsivo</p>
							<p class="title3 captionDelay2 FromLeft">Adaptable</p>
							<p class="title4 captionDelay7 FromLeft">Diseño responsive adaptable a dispositivos moviles mejorando la experiencia de usuario</p>
						</div>
						
					</li>
					<li class="slide3">
						<div class="flex_caption1">
							<p class="title1 captionDelay1 FromBottom">Bases de datos</p>
							<p class="title2 captionDelay2 FromBottom">Dinamicas</p>
							<p class="title3 captionDelay3 FromBottom">.</p>
							<p class="title4 captionDelay5 FromBottom">Creamos bases de datos back-end proceo dinamico en react , angular , dev movilve.</p>
						</div>
						<!--<a class="slide_btn FromRight" href="javascript:void(0);" >Read More</a>-->
						
						<!-- VIDEO BACKGROUND -->
						<a id="P2" class="player" data-property="{videoURL:'tDvBwPzJ7dY',containment:'.top_slider .slide3',autoPlay:true, mute:true, startAt:0, opacity:1}" ></a>
						<!-- //VIDEO BACKGROUND -->
					</li>
				</ul>
			</div>
			<div id="carousel">
				<ul class="slides">
					<li><img src="https://img.freepik.com/fotos-premium/planeta-tierra-envuelto-web-internet-metaversoai_76964-8268.jpg?w=740" alt="" /></li>
					<li><img src="https://img.freepik.com/fotos-premium/planeta-tierra-envuelto-web-internet-metaversoai_76964-8268.jpg?w=740" alt="" /></li>
					<li><img src="https://img.freepik.com/fotos-premium/planeta-tierra-envuelto-web-internet-metaversoai_76964-8268.jpg?w=740" alt="" /></li>
				</ul>
			</div><!-- //TOP SLIDER -->
		</section><!-- //HOME -->
		<!-- ABOUT -->
		<section id="about">
			
			<!-- SERVICES -->
			<div class="services_block padbot40" data-appear-top-offset="-200" data-animated="fadeInUp">
				
				<!-- CONTAINER -->
				<div class="container">
				
					<!-- ROW -->
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
							<a class="services_item" href="javascript:void(0);" >
								<p><b>Base</b> de Datos</p>
								<span>Bases de datos para tu empresa o negocio total mente automaticas.</span>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
							<a class="services_item" href="javascript:void(0);" >
								<p><b>Modern</b> Design</p>
								<span>Diseño de calidad y muy cómodo, no daña la vista y es agradable de usar.</span>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
							<a class="services_item" href="javascript:void(0);" >
								<p><b>Desarrollo</b> Software</p>
								<span>Creación de aplicaciones , menus para restaurantes, facturacion por web,programas especificos para funciones especiales.</span>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
							<a class="services_item" href="javascript:void(0);" >
								<p><b>Actualizaciones </b>  y soporte</p>
								<span>Actualización de informacion creacion de nuevos modulos de tu web o app.</span>
							</a>
						</div>
					</div><!-- //ROW -->
				</div><!-- //CONTAINER -->
			</div><!-- //SERVICES -->
			
			<!-- CLEAN CODE -->
			<div class="cleancode_block">
				
				<!-- CONTAINER -->
				<div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
					
					<!-- CASTOM TAB -->
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade in active clearfix" id="tab1">
							<p class="title"><b>Clean</b> Code</p>
							<span>We tried to make very high-quality product and so our code is very neat and clean. Whatever anyone could improve and modify the template to your liking.</span>
						</div>
						<div class="tab-pane fade clearfix" id="tab2">
							<p class="title"><b>Technical</b> Support</p>
							<span>We tried to make very high-quality product and so our code is very neat and clean. Whatever anyone could improve and modify the template to your liking.</span>
						</div>
						<div class="tab-pane fade clearfix" id="tab3">
							<p class="title"><b>Responsive</b></p>
							<span>We tried to make very high-quality product and so our code is very neat and clean. Whatever anyone could improve and modify the template to your liking.</span>
						</div>
						<div class="tab-pane fade clearfix" id="tab4">
							<p class="title"><b>Documentation</b></p>
							<span>We tried to make very high-quality product and so our code is very neat and clean. Whatever anyone could improve and modify the template to your liking.</span>
						</div>
						<div class="tab-pane fade clearfix" id="tab5">
							<p class="title"><b>Quality</b></p>
							<span>We tried to make very high-quality product and so our code is very neat and clean. Whatever anyone could improve and modify the template to your liking.</span>
						</div>
						<div class="tab-pane fade clearfix" id="tab6">
							<p class="title"><b>Support</b></p>
							<span>We tried to make very high-quality product and so our code is very neat and clean. Whatever anyone could improve and modify the template to your liking.</span>
						</div>
					</div>
					<ul id="myTab" class="nav nav-tabs">
						<li class="active"><a class="i1" href="#tab1" data-toggle="tab" ><i></i><span>Clean Code</span></a></li>
						<li><a class="i2" href="#tab2" data-toggle="tab" ><i></i><span>Support</span></a></li>
						<li><a class="i3" href="#tab3" data-toggle="tab" ><i></i><span>Responsive</span></a></li>
						<li><a class="i4" href="#tab4" data-toggle="tab" ><i></i><span>Documentation</span></a></li>
						<li><a class="i5" href="#tab5" data-toggle="tab" ><i></i><span>Quality</span></a></li>
						<li><a class="i6" href="#tab6" data-toggle="tab" ><i></i><span>Support</span></a></li>
					</ul><!-- CASTOM TAB -->
				</div><!-- //CONTAINER -->
			</div><!-- //CLEAN CODE -->
			
			<!-- MULTI PURPOSE -->
			<div class="purpose_block">
				
				<!-- CONTAINER -->
				<div class="container">
					
					<!-- ROW -->
					<div class="row">
					
						<div class="col-lg-7 col-md-7 col-sm-7" data-appear-top-offset="-200" data-animated="fadeInLeft">
							<h1><b>Desarrollador</b>Fullstack</h1>
							<p>Soy desarrollador Fullstack con conocimientos solidos en desarrollos , x3xcode es una marca  personal la cual manejo para darme a conocer</p>
							<p>Apasionado por la tecnologia certificado en cada competencia de tecnologia, autodidacta , comprometido en sacar adelante los proyectos asignados y llevarlos a su maximo valor.</p>
							<a class="btn btn-active" href="https://www.linkedin.com/in/franklim-mu%C3%B1oz-valverde-650161209/" ><span data-hover="ver mas">visita Linked</span></a>
							<a class="btn" href="#contacts" >Contacto</a>
						</div>
						
						<div class="col-lg-5 col-md-5 col-sm-5 ipad_img_in" data-appear-top-offset="-200" data-animated="fadeInRight">
							<img class="ipad_img1" src="./../assets/images/img1.png" alt="" />
						</div>
					</div><!-- //ROW -->
				</div><!-- //CONTAINER -->
			</div><!-- //MULTI PURPOSE -->
			<!-- PROJECTS -->
		</section><!-- //ABOUT -->
	



			<!-- PROJECTS -->
			<section id="projects" class="padbot20">
		
				<!-- CONTAINER -->
				<div class="container">
					<h2><b>Proyectos</b> Programacion</h2>
				</div><!-- //CONTAINER -->

				<!-- OUR CLIENTS -->
				<div class="our_clients">
				
					<!-- CONTAINER -->
					<div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
						
						<!-- ROW -->
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<a href="https://html5up.net/uploads/demos/paradigm-shift/">	<img src="https://html5up.net/uploads/demos/paradigm-shift/images/pic01.jpg" alt="" />
							<br>Paradigmi</a>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 client_img">
								<a href="https://html5up.net/uploads/demos/editorial/" target="_blank" rel="noopener noreferrer"><img src="https://html5up.net/uploads/demos/editorial/images/pic06.jpg" alt="" /></a>
								<br>Editorial
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 client_img">
								<a href="https://html5up.net/uploads/demos/multiverse/">	<img src="https://html5up.net/uploads/demos/multiverse/images/fulls/05.jpg" alt="" /></a>
								<br>Multiverse
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 client_img">
								<a href="https://gen-react30.vercel.app/" target="_blank" rel="noopener noreferrer"> <img src="https://www.instyle.es/medio/2023/11/27/frases_19dd8bca_231127112331_1280x1280.jpg" alt="" /></a>
								<br>Frases
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<a href="https://crud-api-rho.vercel.app/" target="_blank" rel="noopener noreferrer">	<img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*WxJYUNOWcV1ZDPjiwEfBbA.jpeg" alt="" /></a>
							<br>Crud
						</div>
							<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<a href="https://github.com/f5extCorporacion/academloBank" target="_blank" rel="noopener noreferrer">	<img src="https://aprendelibvrefiles.blob.core.windows.net/aprendelibvre-container/course/creacion_de_sitios_web/image/webb1_xl.png" alt="" /></a>
							<br>back-end nodejs.token
						</div>
						</div><!-- //ROW -->
					</div><!-- CONTAINER -->
				</div><!-- //OUR CLIENTS -->
			</section><!-- //PROJECTS -->


<hr> 
<br><br><br> <br> <br>
	<!-- CONTACTS -->
	<section id="contacts">
			<!-- CONTAINER -->
			<div class="container">
				<h2><b>Contacto</b> informacion</h2>
				<ul>
					<li>Whatsapp : 318 379 76 86</li>
					
					<li>Ubicación Colombia</li>
				</ul>
			</div><!-- //CONTAINER -->
<div class="final">

	<ul class="social">
		<li><a href="https://www.youtube.com/channel/UC5I30AmdB7Z1DNrO2MOh56A" ><i class="fa fa-youtube"></i></a></li>
		<li><a href="https://www.linkedin.com/in/franklim-mu%C3%B1oz-valverde-650161209/" ><i class="fa fa-linkedin"></i></a></li>
	</ul>
	<b> Todos los derechos reservados Franklim valverde</b>
</div>

</section>



			<!-- //FOOTER -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * *<router-outlet /> * * * * * * * * * * * * * * * * -->



